/* Global */
html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4 {
	font-family: "Bebas Neue", cursive;
	color: black;
}

p {
	font-family: "Roboto", sans-serif;
}

/* Flex Elements */
.row {
	text-align: center;
}

.col-md-6 {
	margin: -10px 0 30px;
}

/* NavBar */
.navbar {
	background-color: black;
	font-family: "Bebas Neue", cursive;
}

.navbar-brand {
	font-size: 3rem;
	font-weight: bold;
}

.nav-item {
	padding: 0 25px;
}

.nav-link {
	font-size: 2.5rem;
	margin-right: 20px;
}

.brand-link {
	margin-right: 10px;
}

/* Featured Project Section */

.image-container {
	position: relative;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	object-fit: cover;

	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.project-links {
	position: absolute;
	width: 500px;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.image-container .btn {
	/* position: relative; */
	padding: 0 5%;
	margin: 0 5%;
	display: inline;
	/* bottom: 50px; */
}

.project-summary {
	background-color: #f7f7f7;
	text-align: left;
}

/* Contact Section */
#about {
	/* background-color: #f7f7f7; */
	text-align: center;
}

.about-image {
	width: 300px;
	height: 300px;
	background-color: beige;
}
.about-info {
	text-align: center;
}
